body{
    margin : 0 0;
    padding : 0 0;
    background: url('../img/imgfundo.jpg');
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}






.login {
    height: 80vh;
    align-items: center;
}